[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sds-common = {editable = true,path = "./../../sds/common"}
scr = {editable = true,path = "./../SCR"}
flask = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
server = "python runserver.py"
